# Variables de entorno — NUNCA subir al repo
.env

# Sistemas operativos
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Docker override local
docker-compose.override.yml
